// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

$base_color: if($variant =='light', #FAFAFA, #33353F);
$text_color: if($variant == 'light', #4F5868, #C5CDD9);
$bg_color: if($variant =='light', #EEF1F4, #2C2E34);
$fg_color: if($variant =='light', #4B505B, #DDE2E7);

@if $color=='cyan' {
  $base_color: if($variant =='light', #FAFAFA, #363A49);
  $bg_color: if($variant =='light', #EEF1F4, #2B2D37);
}

@if $color=='blue' {
  $base_color: if($variant =='light', #FAFAFA, #363A49);
  $bg_color: if($variant =='light', #EEF1F4, #2B2D37);
}

@if $color=='purple' {
  $base_color: if($variant =='light', #FAFAFA, #363A4E);
  $bg_color: if($variant =='light', #EEF1F4, #2B2D3A);
}

$selected_bg_color: #F0544C;
@if $color=='red' { $selected_bg_color: if($variant =='light', #D05858, #EC7279); }
@if $color=='yellow' { $selected_bg_color: if($variant =='light', #BE7E05, #DEB974); }
@if $color=='green' { $selected_bg_color: if($variant =='light', #608E32, #A0C980); }
@if $color=='cyan' { $selected_bg_color: if($variant =='light', #3A8B84, #5DBBC1); }
@if $color=='blue' { $selected_bg_color: if($variant =='light', #5079BE, #6CB6EB); }
@if $color=='purple' { $selected_bg_color: if($variant =='light', #B05CCC, #D38AEA); }
$selected_fg_color: $base_color;

$success_color: if($variant =='light', #76AF6F, #A0C980);
$success_fg_color: $fg_color;

$warning_color: if($variant =='light', #CE9C3D, #DEB974);
$warning_fg_color: $fg_color;

$error_color: if($variant =='light', #E17373, #EC7279);
$error_fg_color: $fg_color;

$destructive_color: #BE5046;
$destructive_fg_color: #FAFAFA;

$suggested_color: $selected_bg_color;
$suggested_fg_color: $selected_fg_color;

$progress_color: $selected_bg_color;
$drop_target_color: $progress_color;

$alt_selected_bg_color: lighten($selected_bg_color, 6%);
$selected_borders_color: darken($selected_bg_color, 20%);
$borders_color: if($variant =='light', darken($bg_color, 15%), darken($bg_color, 2%));
$highlight: if($variant =='light', rgba(#FAFAFA, 0.13), rgba(#FAFAFA, 0.10));

$link_color: if($variant == 'light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 20%));
$link_visited_color: if($variant == 'light', darken($text_color, 5%), lighten($text_color, 10%));

$selection_mode_bg: if($transparency == 'true', transparentize($selected_bg_color, 0.05), $selected_bg_color);
$selection_mode_fg: $selected_fg_color;

//insensitive state derived colors
$insensitive_fg_color: if($variant == 'light', transparentize($fg_color, 0.45), transparentize($fg_color, 0.55));
$insensitive_bg_color: if($variant == 'light', mix($bg_color, $base_color, 40%), lighten($bg_color, 2%));

$header_bg: #24262A;
@if $color=='red' { $header_bg: if($variant =='light', #2C2E34, darken(#2C2E34, 3%)); }
@if $color=='yellow' { $header_bg: if($variant =='light', #2C2E34, darken(#2C2E34, 3%)); }
@if $color=='green' { $header_bg: if($variant =='light', #2C2E34, darken(#2C2E34, 3%)); }
@if $color=='cyan' { $header_bg: if($variant =='light', #2B2D37, darken(#2B2D37, 3%)); }
@if $color=='blue' { $header_bg: if($variant =='light', #2B2D37, darken(#2B2D37, 3%)); }
@if $color=='purple' { $header_bg: if($variant =='light', #2B2D3A, darken(#2B2D3A, 3%)); }

$header_bg_backdrop: if($variant == 'dark', lighten($header_bg, 2%), lighten($header_bg, 3%));
$header_border: if($variant == 'light', darken($header_bg, 7%), darken($header_bg, 4%));
$header_fg: if($variant =='light', mix($selected_bg_color, #bdbdbd, 5%), $text_color);

$dark_sidebar_bg: if($transparency == 'true', transparentize(#4F5868, 0.05), #4F5868);
$dark_sidebar_fg: if($variant =='light', mix($selected_bg_color, #bdbdbd, 5%), $text_color);
$dark_sidebar_border: if($variant == 'light', $dark_sidebar_bg, darken($dark_sidebar_bg, 5%));

$osd_fg_color: $dark_sidebar_fg;
$osd_bg_color: $dark_sidebar_bg;

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_bg_color: darken($osd_bg_color, 3%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);
$osd_borders_color: $osd_button_border;

$panel_bg: $header_bg;
$panel_fg: $header_fg;

$entry_bg: if($variant=='light', $base_color, lighten($base_color, 0%));
$entry_border: if($variant == 'light', #cfd6e6, darken($borders_color, 0%));

$header_entry_bg: transparentize(lighten($header_bg, 22%), 0.6);
$header_entry_border: transparentize(darken($header_bg, 12%), 0.6);

$button_bg: if($variant == 'light', lighten($bg_color, 2%), lighten($base_color, 2%));
$button_border: $entry_border;

$header_button_bg: if($variant == 'dark', transparentize(lighten($header_bg, 22%), 0.6), transparentize($button_bg, 0.1));
$header_button_border: if($variant == 'dark', transparentize(darken($header_bg, 12%), 0.6), transparentize($header_bg, 0.7));

//WM Buttons

// Close
$wm_button_close_bg: if($variant == 'light', #f46067, #cc575d);
$wm_button_close_hover_bg: if($variant == 'light', #f68086, #d7787d);
$wm_button_close_active_bg: if($variant == 'light', #f13039, #be3841);

$wm_icon_close_bg: if($variant == 'light',#F8F8F9 , #2f3f3e);

// Minimize, Maximize
$wm_button_hover_bg: if($variant == 'light', #fdfdfd, #455c57);
$wm_button_active_bg: $selected_bg_color;

$wm_button_hover_border: if($variant == 'light', #d1dada, #26322f);

$wm_icon_bg: if($variant == 'light', #909e9b, #909b99);
$wm_icon_unfocused_bg: if($variant == 'light', #b6c0be, #667471);
$wm_icon_hover_bg: if($variant == 'light', #7a8b88, #c4ccca);
$wm_icon_active_bg: $selected_fg_color;
